<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=6.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="GLucYpOjd3jbIqSsSVKxCiK1q6dPLkAtUlcROv0FqUI" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for("static", path="style.css") }}">
   {% if DEV %}
        <script src="https://unpkg.com/vue@3.0.5"></script>
    {% else %}
        <script src="https://unpkg.com/vue@3.0.5/dist/vue.global.prod.js"></script>
    {% endif %}
</head>
<body class="bg-gray-50 text-black relative">
{% block body %}{% endblock %}
</body>
</html>