{% extends "layouts/base.html" %}
{% from "macros/macros.html" import icon %}

{% block body %}
<div id="app" class="flex flex-col min-h-screen min-w-screen items-center">
    <nav class="flex p-4 text-2xl bg-orange-500 shadow-lg mb-6 fixed w-full overflow-hidden">
        <div :class="{'md:hover:translate-x-12 md:transform md:transition md:absolute md:-left-12 md:top-0 md:p-4 flex': listId !== null}">
            <button @click="listId = null" v-if="listId !== null" class="px-2 md:mr-2 hover:bg-orange-100 rounded-full">
                {{ icon('left-arrow', 'h-6 text-gray-700 pb-1') }}
            </button>
            <h1>[[ title ]]</h1>
        </div> 
    </nav>

    <div class="mb-4 text-2xl p-4"> </div>  <!-- Same size as the top bar -->

    <div v-if="listId === null" class="p-4 w-full h-full flex flex-col md:w-1/2">
        <div class="flex flex-col space-y-4 px-4 self-center">
            <a @click="listId = list.id" v-for="list in lists" class="cursor-pointer p-4 w-full rounded-xl shadow-lg bg-orange-100 hover:scale-105 transform transition">
                <div class="text-xl px-4">[[ list.title ]]</div>
                <p class="px-4 text-gray-700">[[ list.description ]]</p>
            </a>
        </div>
    </div>

    <todo-list v-else :list-id="listId" class="md:w-4/5 w-full p-4"></todo-list>

</div>

<script>
    'use strict';

    function newItem(name, categ) {
        return {
            name, categ,
            done: false,
            id: null,
        }
    }

    const App = {
        data() { return {
            lists: [],
            listId: null,
        }},
        computed: {
            title() {
                return this.listId === null ? "Listes de Diego" : this.lists.find(l => l.id === this.listId).title
            },
        },
        methods: {
            updateLists() {
                fetch("/api/list/").then(resp => {
                    if (resp.ok) {
                        resp.json().then(d => this.lists = d)
                    } else {
                        resp.json().then(d => console.log(d))
                        {#this.showError(resp.details);#}
                    }
                })
            },
        },
        created() { this.updateLists(); },
        delimiters: ['[[', ']]'],
    }

    const vm = Vue.createApp(App);

    vm.component('add-bar', {
        props: ['categories', 'listid'],
        emits: ['new-item'],
        data() { return {
            addCateg: '',
            addName: '',
            addCategAutre: '',
        }},
        methods: {
            addItem(event) {
                if (event) event.preventDefault();  // Don't submit the form and change page
                let isNewCat = (this.addCateg === "-OTHER-")
                let cat = isNewCat ? this.addCategAutre : this.addCateg;
                let name = this.addName;
                if (!cat || !name) return;
                let item = { name, categ: cat, done: false}
                fetch(`/api/list/${this.listid}`, {
                    method: 'post',
                    body: JSON.stringify(item),
                }).then(resp => resp.json()
                    .then(data => {
                        item.id = data.id;
                        this.$emit('new-item', item)
                        this.addName = '';
                    }))
                if (isNewCat) {
                    this.addCateg = this.addCategAutre;
                }
            },
        },
        template: `
<form :onsubmit="addItem" class="flex items-center flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-2">
    <select ref="catSelect" class="px-1 flex-grow w-full border md:w-min h-8" id="category-select" name="category" v-model="addCateg">
        <option value="" disabled selected hidden>Category</option>
        <option v-for="cat in categories" :value="cat">[[ cat ]]</option>
        <option value="-OTHER-">Nouvelle catégorie</option>
    </select>

    <input class="border w-full h-8 flex-grow px-2" placeholder="Nouvelle catégorie..." id="category-select" v-if="addCateg === '-OTHER-'" v-model="addCategAutre" type="text">

    <div class="flex flex-grow w-full">
        <div class="flex w-full h-8">
            <input type="text" class="flex-grow border px-2" v-model="addName">
        </div>
        <button type="submit" class="rounded-r bg-orange-300 text-center"
            v-on:click="addItem">{{ icon('plus', 'h-7 px-2 py-1') }}</button>
    </div>
</form>`,
        delimiters: ['[[', ']]'],
    })
    vm.component('todo-list', {
        props: ['listId'],
        data() {
            return {
                shop: [],
            }
        },
        computed: {
            shopByCateg() {
                let groups = {};
                this.shop.forEach(item => {
                    if (item.categ in groups) {
                        groups[item.categ].push(item);
                    } else {
                        groups[item.categ] = [item];
                    }
                });
                for (const group in groups) {
                    groups[group].sort((a, b) => {
                        let ddone = a.done - b.done,
                            dimportant = b.important - a.important;
                        return ddone !== 0 ? ddone :
                            dimportant !== 0 ? dimportant :
                                a.name > b.name ? 1 : -1;
                    })
                }
                return groups;
            },
            categories() {
                return new Set(this.shop.map(item => item.categ))
            }
        },
        methods: {
            updateShop() {
                fetch(`/api/list/${this.listId}`).then(resp => resp.json().then(d => this.shop = d))
            }
        },
        created() { this.updateShop(); },
        delimiters: ['[[', ']]'],
        template: `
<div>
    <add-bar @new-item="shop.push($event)" :categories="categories" :listid="listId" class="pb-4"></add-bar>
    <div class="col-w-lg w-full">
        <div v-for="(group, name) in shopByCateg" class="pb-4 inline-block w-full" :key="name">
            <h2 class="text-xl">[[ name ]]</h2>
            <ul>
                <todo-item v-for="item in group" :item="item" :key="item.id"></todo-item>
            </ul>
        </div>
    </div>
</div>`,

    })
    vm.component('todo-item', {
        props: ['item'],
        data() { return {
            editing: false,
            editedName: this.item.name,
        }},
        methods: {
            toggleDone() {
                fetch(`/api/todo/${this.item.id}`, {
                    method: 'PATCH',
                    body: JSON.stringify({ done: !this.item.done})
                }).then(resp => {if (resp.ok) this.item.done = !this.item.done})
            },
            toggleStar() {
                fetch(`/api/todo/${this.item.id}`, {
                    method: 'PATCH',
                    body: JSON.stringify({ important: !this.item.important})
                }).then(resp => {if (resp.ok) this.item.important = !this.item.important})
            },
            toggleEdit() {
                this.editing = !this.editing;
                if (this.editing) setTimeout(() => this.$refs.input.focus(), 1);
            },
            edit() {
                fetch(`/api/todo/${this.item.id}`, {
                    method: "PATCH",
                    body: JSON.stringify({ name: this.editedName })
                }).then(resp => {
                    if (resp.ok) {
                        this.item.name = this.editedName;
                        this.editing = false;
                    }})
            }
        },
        template: `
        <li class="py-1 px-2 flex justify-between items-center bg-white shadow my-2 rounded-md" :class="{'text-gray-500 line-through': item.done}">
            <button @click="toggleDone" class="rounded border-2 border-orange-200 w-6 h-6 mr-4" :class="{'text-gray-300': !item.done}">
                {{ icon('check', "h-6 pb-1") }}
            </button>
            <span class="justify-self-start flex-grow overflow-ellipsis">
                <input v-if="editing" ref="input" class="pr-1 text-gray-600" v-model="editedName" @change="edit" @focusout="editing = false" :size="Math.min(27, editedName.length)" type="text"/>
                <span v-else @click="toggleEdit" class="h-6" >[[ item.name ]]</span>
            </span>
            <button @click="toggleStar" class="w-6 h-6 flex-shrink-0 text-gray-300">
                <span v-if="item.important" :class="item.done ? 'text-gray-300' : 'text-orange-300'">{{ icon('star', "h-6 pb-1", True) }}</span>
                <span v-else class="texor">{{ icon('star', "h-6 pb-1", False) }}</span>
            </button>
        </li>
        `,
        delimiters: ['[[', ']]'],
    })
    vm.mount('#app');
</script>
{% endblock %}