{% extends "layouts/base.html" %}

{% block body %}
    <div id="app">
        <h1 class="p-4 text-2xl bg-orange-500 shadow-lg mb-6">LOL</h1>

        <ul>
            <li v-for="list in lists">[[ list ]]</li>
        </ul>

    </div>
    <script>
        'use strict';

        const App = {
            data() { return {
                lists: [],
            }},
            methods: {
                updateLists() {
                    fetch("/api/list/").then(resp => {
                        if (resp.ok) {
                            resp.json().then(d => this.lists = d):
                        } else {
                            this.showError(resp.details);
                        }
                    })
                }
            },
            created() { this.updateLists(); },
        }
    </script>
{% endblock %}